@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Curso";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>

<div>
    <p>
        Voc&ecirc; est&aacute; na p&aacute;gina de @Page.Title
    </p>
</div>